{
  "bot": {
    "prefix": "/bot"
  },
  "coin": {
    "unit": "RIN"
  },
  "discord": {
    "id": "<your-discord-id-here>",
    "secret": "<your-discord-secret-here>",
    "token": "<your-discord-token-here>"
  },
  "rpc": {
    "host": "<coind-ip-address>",
    "port": 44555,
    "user": "<coind-rpc-user-here>",
    "password": "<coind-rpc-password-here>"
  },
  "emotip": {
    "111111111111111111": "100",
    "222222222222222222": "300",
    "333333333333333333": "1000"
  }
}
